.categoryId {
    margin-left: 25px;

}

.btn {
    margin-right: 10px;

}

.breadcrumbs .breadcrumb {
    margin-bottom: 20px;
}

#cart_items .cart_info {
   
    margin-bottom: 10px;
}

.search_box input {
    height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-image: none;

}