<div class="jumbotron text-center">
    <div class="logo-404">
        <a href="index.html"><img src="../../assets/images/home/logo.png" alt="" /></a>
    </div>
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> for further tracking of your product.</p>
    <hr>
    <p>
      Having trouble? <a href="/contact">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="" role="button">Continue to homepage</a>
    </p>
  </div>